@model WebApplication2.Models.CokingStep

@{
    ViewData["Title"] = "Редактировать шаг";
}

<h1 class="mt-4 text-center text-primary">@ViewData["Title"]</h1>

<h4 class="text-center">Редактирование шага приготовления</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="ReceptID" class="control-label"></label>
                <input asp-for="ReceptID" class="form-control" />
                <span asp-validation-for="ReceptID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StepNumber" class="control-label"></label>
                <input asp-for="StepNumber" class="form-control" />
                <span asp-validation-for="StepNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StepDiscription" class="control-label"></label>
                <input asp-for="StepDiscription" class="form-control" />
                <span asp-validation-for="StepDiscription" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Сохранить" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-3">
    <a class="btn btn-secondary" asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    body {
        background-color: #e9ecef; /* Светлый фон для всего тела */
        color: #343a40; /* Темный текст */
        font-family: Arial, sans-serif; /* Шрифт */
    }

    h1 {
        color: #007bff; /* Цвет заголовка */
        text-align: center; /* Центрирование заголовка */
    }

    .form-group {
        margin-bottom: 15px; /* Отступ между полями формы */
    }

    .btn {
        margin-right: 5px; /* Отступ между кнопками */
    }
</style>

Найти еще